body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Arya */
.header {
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.header .logo svg {
    width: 32px;
}

.header .logo span {
    font-size: 24px;
    font-weight: bold;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header nav button {
    border: none;
    background: transparent;
    
}

.header nav .btn-login {
    border: 2px solid #484848;
    font-size: 20px;
    font-weight: bold;
    padding: 0 30px;
    border-radius: 5px;
}

.header nav button svg {
    width: 25px ;
}

/* Ipan */
.main {

}

/* Bagas */
.footer {
    padding: 24px;
    color: white;
    background-color: black;

}

.footer .wrapper {
    display: flex;
    gap: 100px;
}

.footer .wrapper div {
    display: flex;
    flex-direction: column;
}

.footer .wrapper p {
    margin: 0;
    width: 300px;
    
}

.footer .wrapper div a {
    display: inline-block;
    color: white;
    font-size: 13px;

}

.footer span {
    display: block;
    text-align: center;
}