body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Arya */
.header {
    margin: 24px;
    display: flex;
    justify-content: space-between;
}

.header .logo svg {
    width: 32px;
}

.header .logo span {
    font-size: 24px;
    font-weight: bold;
}

.header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header nav button {
    border: none;
    background: transparent;
    
}

.header nav .btn-login {
    border: 2px solid #484848;
    font-size: 20px;
    font-weight: bold;
    padding: 0 30px;
    border-radius: 5px;
}

.header nav button svg {
    width: 25px ;
}

/* Ipan */
.main {

}

/* Bagas */
.footer {

}

.footer .tmbl-logout {

}


.login {
    width: 457px ;
    border: 2px solid #484848;
    margin: 0 auto;
    padding: 24px;
    border-radius: 10px;
}

.login h1 {
    text-align: center;
}


.login .wrapper-inp {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.login .wrapper-inp input {
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #000;
}

.login .wrapper-pas label {
    font-size: 18px;
}

.login button {
    padding:15px;
    margin-top:40px;
    background-color: #484848;
    width: 100%;
    color: white;
    border: none;
    margin-bottom: 30px;
    border-radius: 5px;
    }